<h4><a href="/">Home</a></h4><br>

<h1>Add Station to Database</h1><hr>

<form action="/station/new" method="post">
  <label>Name of HeadQuarters:</label>
  <input type="text" id="name" name="name"><br>
  <button type="submit">Add Station</button>
</form>
